@import url('https://fonts.googleapis.com/css?family=Atma|Bahianita|Cherry+Cream+Soda|Farsan|Irish+Grover|Josefin+Sans:600|Lakki+Reddy|Mountains+of+Christmas|Unkempt:700&display=swap');
html {
  background-image: url(assets/mlpbg.png);
  position: fixed; 
  right: 70%;
  top: -3%;
  background-color: var(--base);
  background-repeat: no-repeat;
  overscroll-behavior: none;
}
body {
  margin: 0;
  overscroll-behavior: none;
}
:root {
  --base: #ffffff;
}
#bg {
  width: 30vw;
  height: 100vh;
  border-radius: 20px;
  position: fixed;
  left: 0%;
  top: 0%;
  background: -moz-linear-gradient(-45deg, #BB1C76 0%, #3887D6 50%, #691992 100%);
  background: -webkit-linear-gradient(-45deg, #BB1C76 0%, #3887D6 50%, #691992 100%);
  background: linear-gradient(135deg, #BB1C76 0%, #3887D6 50%, #691992 100%);
}
#h12 {
  font-family: 'Atma', cursive;
  font-size: 4.1em;
  text-align: center;
  color: #ffffff;
  position: fixed;
  left:1.6%;
  top: -3.2%;
}
#h11 {
  font-family: 'Atma', cursive;
  font-size: 4em;
  text-align: center;
  background: #EA4D82;
  background: -moz-linear-gradient(left, #F4781E 0%, #EA4D82 51%, #F4781E 100%);
  background: -webkit-linear-gradient(left, #F4781E 0%, #EA4D82 51%, #F4781E 100%);
  background: linear-gradient(to right, #F4781E 0%, #EA4D82 51%, #F4781E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: fixed;
  left:2%;
  top: -3%;
}
.controls {
  font-family: 'Irish Grover', cursive;
  color: #ffffff;
  font-size: 2em;
  background: #EA4D82;
  background: -moz-linear-gradient(left, #F4781E 0%, #EA4D82 51%, #F4781E 100%);
  background: -webkit-linear-gradient(left, #F4781E 0%, #EA4D82 51%, #F4781E 100%);
  background: linear-gradient(to right, #F4781E 0%, #EA4D82 51%, #F4781E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: fixed;
  text-align: center;
  left: 9%;
  top: 20%;
}
h3 {
  font-family: 'Irish Grover', cursive;
  color: #ffffff;
  font-size: 2em;
  background: #EA4D82;
  background: -moz-linear-gradient(left, #F4781E 0%, #EA4D82 51%, #F4781E 100%);
  background: -webkit-linear-gradient(left, #F4781E 0%, #EA4D82 51%, #F4781E 100%);
  background: linear-gradient(to right, #F4781E 0%, #EA4D82 51%, #F4781E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: fixed;
  text-align: center;
  left: 9%;
  top: 30%;
}
input[type="color" i] {
  -webkit-appearance: sliderthumb-horizontal;
  width: 100%;
  height: 5vh;
  background-color: none;
  outline: var(--base);
  cursor: default;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  border-image: none;
  padding: 0px 0px;
}
.cutieMark {
  margin: 20px;
  padding: 20px;
  position: fixed;
  left: 2%;
  top: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cutieMark2 {
  margin: 20px;
  padding: 20px;
  position: fixed;
  left: 10%;
  top: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cutieMark3 {
  margin: 20px;
  padding: 20px;
  position: fixed;
  left: 18%;
  top: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#div4 {
  position: fixed;
  left: 61.2%;
  bottom: 26%;
  width: 50px;
  height: 50px;
  border: solid 2px black;
}