@import url('https://fonts.googleapis.com/css?family=Irish+Grover|Josefin+Sans:600&display=swap');
html {
  background-image: url(assets/mlpbg.png);
  left: 27%;
  bottom: 101%;
  background-color: var(--base);
  background-repeat: no-repeat;
  position: fixed; 
}
:root {
  --base: #ffffff;
}
.controls {
  font-family: 'Irish Grover', cursive;
  font-size: 2em;
  position: fixed;
  left: 5%;
  top: 5%;
  border: none;
}
input[type="color" i] {
  -webkit-appearance: square-button;
  width: 100%;
  height: 5vh;
  background-color: none;
  outline: var(--base);
  cursor: default;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  border-image: none;
  padding: 0px 0px;
}