@import url('https://fonts.googleapis.com/css?family=Irish+Grover|Josefin+Sans:600&display=swap');
html {
  background-image: url(assets/mlpbg.png);
  position: fixed; 
  right: 70%;
  top: -3%;
  background-color: var(--base);
  background-repeat: no-repeat;
  overscroll-behavior: none;
}
body {
  margin: 0;
  overscroll-behavior: none;
}
:root {
  --base: #ffffff;
}
#bg {
  width: 30vw;
  height: 100vh;
  border-radius: 20px;
  position: fixed;
  left: 0%;
  top: 0%;
  background: #F14C88;
  background: -moz-linear-gradient(-45deg, #F14C88 0%, #FA6513 50%, #F77291 100%);
  background: -webkit-linear-gradient(-45deg, #F14C88 0%, #FA6513 50%, #F77291 100%);
  background: linear-gradient(135deg, #F14C88 0%, #FA6513 50%, #F77291 100%);
}
h1 {
  font-family: 'Irish Grover', cursive;
  font-size: 4em;
  text-align: center;
  background: -moz-linear-gradient(-45deg, #BB1C76 0%, #3887D6 50%, #691992 100%);
  background: -webkit-linear-gradient(-45deg, #BB1C76 0%, #3887D6 50%, #691992 100%);
  background: linear-gradient(135deg, #BB1C76 0%, #3887D6 50%, #691992 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: fixed;
  color: #ffffff;
  left:4%;
  top: -3%;
}
.controls {
  font-family: 'Irish Grover', cursive;
  color: #ffffff;
  font-size: 2em;
  position: fixed;
  text-align: center;
  left: 9%;
  top: 30%;
}
input[type="color" i] {
  -webkit-appearance: sliderthumb-horizontal;
  width: 100%;
  height: 5vh;
  background-color: none;
  outline: var(--base);
  cursor: default;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  border-image: none;
  padding: 0px 0px;
}